@font-face {
  font-family: 'StillTime';
  src: url('../fonts/StillTime.ttf');
}

body {
  margin: 0;
  background-color: MidnightBlue;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0.5em 10vw 0.5em 10vw;
  background-color: DeepPink;
}

/* Add fading border at bottom */
nav:after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(100% + 0.3em);
  right: 0;
  z-index: -1;

  box-sizing: content-box;
  border-top: solid 0.25em DeepPink;
  height: 0.25em;
  border-bottom: solid 0.15em DeepPink;
}

nav > a {
  color: White;
  letter-spacing: 0.075em;
  font-family: 'StillTime';
  font-size: 2em;
  text-decoration: none;
  text-shadow: 0 0 0.05em White;

  transition: text-shadow 0.25s ease-in-out;
}

nav > a:not(:first-child) {
  margin-left: 1em;
}

nav > a:hover {
  text-shadow: 0 0 0.75em White;
}

main {
  padding: calc(2 * 1em + 2em + 0.3em + 0.25em + 0.25em + 0.15em) 10vw 0 10vw;
  width: calc(100vw - 20vw);
}

main > section {
  display: none;
  flex-flow: column;
}

main > section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.caption-form {
  display:flex;
  flex-flow: column;
}

.caption-form > input:not(:last-child) {
  margin-bottom: 0.5rem;
}

.caption-form > input {
  font-size: 1.2rem;
  font-weight: 100;
  font-family: Helvetica;
  border: none;
  border-radius: 0.1rem;
}
canvas {
  width: 100%;
}
